.carousel {
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-container {
    display: flex;
}

.carousel-container.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.carousel-indicator {
    margin: 0 0.25rem;
    font-size: 0.8rem;
}